.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
}

.hex-val {
  width: 100%;
  height: 40px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  padding: 0;
}

.rgb-val {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-weight: 600;
  font-size: 1rem;
  background-color: rgb(55, 55, 68);
  color: white;
}